* {
    image-rendering: optimizeSpeed;
    margin: 0;
}

html {
    width: 100vw;
}

body {
    background-color: #000 !important;
    overflow-x: hidden;
    position: relative;
    color: #FFF !important;
    transition: all 0.5s;
    margin: 0;
    padding: 0;
    border: 0;
}

hr {
    background: #FF4900;
}


/* Clases */

.nav_bar_1 {
    font-family: subtitle;
    margin-bottom: 3.5rem;
    box-shadow: 2px 5px 10px #000000;
}

.nav_bar_1 header nav {
    /* fallback for old browsers */
    background: #667eea;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #696969, #6c6097);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #696969, #6c6097);
}

/* Clases-counnter */

.wrap2 {
    position: relative;
    display: inline-block;
}

.wrap2 span {
    position: absolute;
    bottom: 5px;
    right: 0px;
}

.counter {
    background-color: #777777;
    color: #fff;
    font-size: 15px;
    padding: 2px 5px;
    line-height: 12px;
    height: 20px;
    text-align: center;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    font-weight: 500;
}

/* Fuentes */

@font-face {
    font-family: "LOGO";
    src: url("../fonts/Voice\ In\ My\ Head.otf") format("opentype");
}

@font-face {
    font-family: "subtitle";
    src: url("../fonts/good\ times\ rg.otf") format("opentype");
}

@media (min-width: 546px) {
    #id_direccion {
        margin-top: 0%;
    }

    .icons-direccion {
        margin-left: 45%;
        margin-right: 45%;
        transition: all 1s !important;
        z-index: 5;
    }

    .upper_button {
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 5;
    }

    .parallax_container {
        position: relative;
        height: 100%;
        width: 100vw;
        /* 
            overflow: hidden; ayuda a que la imagen que se sale
            del contenedor, no se muestre 
        */
        overflow: hidden;
        z-index: 1;
        transition: all 1s;
    }

    .parallax_image {
        -webkit-animation: fadein 2.5s;
        /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 2.5s;
        /* Firefox < 16 */
        -ms-animation: fadein 2.5s;
        /* Internet Explorer */
        -o-animation: fadein 2.5s;
        /* Opera < 12.1 */
        animation: fadein 2.5s;
        position: absolute;
        background-image: url('../media/parallax/backspace2.jpg');
        background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        /*
            background-size: cover; nos sirve para que la imagen no se 
            distorcione por el tamaño del contenedor al estirar la imagen.
        */
        /* vh: view x height */
        width: 100vw;
        height: 120%;
        z-index: -5;
        filter: opacity(75%);
        transition: all 1s;
    }

    .container_img {
        position: absolute;
        left: 45.5vw;
        top: 5vh;
        width: 100%;
        transition: all 1s;
        z-index: 5;
        overflow-x: hidden !important;
        overflow-y: hidden !important;
    }

    .logo_cfp {
        width: 10%;
        height: 10%;
        z-index: 5;
        image-rendering: optimizeSpeed;
    }

    .parallax_title2 {
        z-index: 100;
        font-family: subtitle;
        background: #FFF;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 60pt;
        text-align: center;
        font-weight: lighter;
        margin-top: 30vh;
        transition: all 1s;
        overflow-x: hidden !important;
        overflow-y: hidden !important;
    }

    .container_subtitle {
        z-index: 5;
        text-align: center;
        font-family: subtitle;
        font-size: 18pt;
        font-weight: lighter;
    }

    .parallax_subtitle {
        z-index: 5;
        color: #0000;
        background: conic-gradient(at calc(100% - 1ch) 50%, #ffffff 90deg, #0000 0) 0 -100%, conic-gradient(at calc(100% - 1ch) 50%, #ffffff 90deg, #0000 0) 0 0, linear-gradient(-90deg, #0000 1ch, #ffffff 0) 0 0;
        background-size: calc(var(--n) * 1ch) 200%;
        -webkit-background-clip: padding-box, text, text;
        background-clip: padding-box, text, text;
        background-repeat: no-repeat;
        /* tiempo de duracion de la animacion del css */
        animation: b 0.1s infinite linear, t calc(var(--n) * 0.1s) steps(var(--n)) forwards;
        z-index: 100;
    }

    @keyframes t {
        from {
            background-size: 0 200%;
        }
    }

    @keyframes b {
        0% {
            background-position: 0 100%, 0 100%, 0 0;
        }
    }

    /* PARALLAX BUTTONS */
    .parallax_button_right {
        z-index: 5;
        background: rgb(26, 93, 105);
        background: -moz-linear-gradient(45deg, rgba(26, 93, 105, 1) 0%, rgba(59, 132, 189, 1) 33%, rgba(34, 191, 199, 1) 66%, rgba(144, 216, 255, 1) 100%);
        background: -webkit-linear-gradient(45deg, rgba(26, 93, 105, 1) 0%, rgba(59, 132, 189, 1) 33%, rgba(34, 191, 199, 1) 66%, rgba(144, 216, 255, 1) 100%);
        background: linear-gradient(45deg, rgba(26, 93, 105, 1) 0%, rgba(59, 132, 189, 1) 33%, rgba(34, 191, 199, 1) 66%, rgba(144, 216, 255, 1) 100%);
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#1a5d69", endColorstr="#90d8ff", GradientType=1);
        border: none;
        border-radius: 25px 25px 25px 25px;
        color: #e4e4e4;
        padding: 1% 4% 1% 4%;
        margin: 2% 2% 0% 2%;
        transition: all 0.5s;
        box-shadow: 0 0px 6px 6px #0000007d;
    }

    .parallax_button_left {
        z-index: 5;
        background: rgb(211, 39, 0);
        background: -moz-linear-gradient(45deg, rgba(211, 39, 0, 1) 0%, rgba(255, 133, 0, 1) 39%, rgba(255, 167, 0, 1) 62%, rgba(255, 219, 69, 1) 100%);
        background: -webkit-linear-gradient(45deg, rgba(211, 39, 0, 1) 0%, rgba(255, 133, 0, 1) 39%, rgba(255, 167, 0, 1) 62%, rgba(255, 219, 69, 1) 100%);
        background: linear-gradient(45deg, rgba(211, 39, 0, 1) 0%, rgba(255, 133, 0, 1) 39%, rgba(255, 167, 0, 1) 62%, rgba(255, 219, 69, 1) 100%);
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#d32700", endColorstr="#ffdb45", GradientType=1);
        border: none;
        border-radius: 25px 25px 25px 25px;
        color: #e4e4e4;
        padding: 1% 4% 1% 4%;
        margin: 2% 2% 0% 2%;
        transition: all 0.5s;
        box-shadow: 0 0px 6px 6px #0000007d;
    }

    .parallax_button_left:hover,
    .parallax_button_right:hover {
        z-index: 5;
        border: none;
        border-radius: 25px 25px 25px 25px;
        color: #ffffff;
        padding: 1% 4% 1% 4%;
        transition: all 0.5s;
        box-shadow: 0 0px 9px 6px #000000cb;
    }

    /* PRETTY SCROLL */
    .scroll_indication {
        z-index: 5;
        position: relative;
        bottom: -30vh;
        text-align: center;
    }

    .scroll-link {
        z-index: 5;
        position: absolute;
        bottom: 1rem;
        left: 50%;
        transform: translateX(-50%);
    }

    .mouse {
        z-index: 5;
        max-width: 2.5rem;
        width: 100%;
        height: auto;
        text-align: center;
    }

    .scroll {
        z-index: 5;
        animation-name: scroll_ind;
        animation-duration: 1.5s;
        animation-timing-function: cubic-bezier(0.650, -0.550, 0.250, 1.500);
        animation-iteration-count: infinite;
        transform-origin: 50% 20.5px;
        will-change: transform;
    }

    @keyframes scroll_ind {

        0%,
        20% {
            transform: translateY(0) scaleY(1);
        }
    }

    @keyframes scroll_ind {
        10% {
            opacity: 1;
        }

        100% {
            transform: translateY(36px) scaleY(2);
            opacity: 0.01;
        }
    }

    /* SECCION PRINCIPAL CONTENTS */
    .principal_container {
        height: 100vh;
        position: static;
        display: contents;
    }

    .principal_content {
        z-index: 25;
        height: 90%;
        margin: 0 auto;
        margin-top: 6vh;
        margin-bottom: 5%;
        background-color: #000;
    }

    .principal_titles {
        text-align: center;
        font-family: subtitle;
        font-size: 15pt;
    }

    .principal_titles:hover {
        text-align: center;
        border-left: 5px solid #FFF;
    }

    .principal_text {
        text-align: center;
        color: #bababa;
        font-size: 12pt;
        height: 50%;
    }

    .but_centered {
        text-align: center;
    }

    /* ANIMACIONES DE FADE */
    .fadeTop {
        opacity: 0;
        transform: translate(0, 10vh);
        transition: all 1s;
    }

    .fadeRight {
        opacity: 0;
        transform: translate(10vh, 0vh);
        transition: all 1s;
    }

    .fadeLeft {
        opacity: 0;
        transform: translate(-10vh, 0vh);
        transition: all 1s;
    }

    .visible {
        opacity: 1;
        transform: translate(0, 0);
    }

    /* COURSES BUTTONS STYLE */
    .courses_buttons {
        background-color: #80127300;
        border-radius: 25px 25px 25px 25px;
        color: #FF4900;
        border: solid 2px #FF4900;
        padding: 2% 15% 2% 15%;
        transition: all 0.5s;
    }

    .courses_buttons:hover {
        background-color: #ffffff00;
        border-radius: 25px 25px 25px 25px;
        color: #ffffff;
        border: solid 2px #ffffff;
        padding: 2% 15% 2% 15%;
        box-shadow: 0 0px 6px 3px #dadada7d;
        text-shadow: #dadada7d 0 0 10px;
        transition: all 0.5s;
    }

    /* SECCION SECONDARY CONTENTS */
    .secondary_container {
        position: relative;
        backdrop-filter: blur(25px);
        width: 100%;
        /* 
            overflow: hidden; ayuda a que la imagen que se sale
            del contenedor, no se muestre 
        */
        overflow: hidden;
        display: flex;
        z-index: 10;
        transition: all 1s;
        border-radius: 10% 10% 50% 50%;
    }

    .secondary_image {
        -webkit-animation: fadein 2.5s;
        /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 2.5s;
        /* Firefox < 16 */
        -ms-animation: fadein 2.5s;
        /* Internet Explorer */
        -o-animation: fadein 2.5s;
        /* Opera < 12.1 */
        animation: fadein 2.5s;
        position: absolute;
        background-image: url('../media/parallax/backspace1.jpg');
        background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        /*
            background-size: cover; nos sirve para que la imagen no se 
            distorcione por el tamaño del contenedor al estirar la imagen.
        */
        /* vh: view x height */
        width: 100vw;
        height: 150vh;
        filter: blur(15px);
        object-fit: contain;
        z-index: -10;
        transition: all 1s;
    }

    .secondary_content {
        text-align: center;
        display: flex;
        margin: 0 auto;
        margin-top: 6vh;
        margin-bottom: 5%;
        align-items: center;
        justify-content: center;
    }

    .secondary_title {
        color: #801273;
        text-align: center;
        margin-top: 4%;
        font-family: subtitle;
        text-shadow: #343434b4 4px 4px 10px;
    }

    .secondary_subtitle {
        color: #4a4a4a;
        text-align: center;
        margin-top: 6%;
        font-family: subtitle;
        text-shadow: #343434b4 4px 4px 10px;
    }

    .secondary_text {
        height: 50%;
        margin-top: 5%;
        text-align: justify;
        color: #343434;
        font-size: 12pt;
    }

    .text_secnt {
        transition: all 0.5s;
    }

    .text_secnt:hover {
        box-shadow: 6px 10px 8px 13px #4d4d4d7d;
        border-radius: 25px 25px 25px 25px;
        transition: all 0.5s;
    }

    /* WAVES CSS */

    .content {
        font-family: Arial;
        text-align: center;
        font-size: 2em;
        color: rgba(255, 255, 255, 0.8);
    }

    .waves {
        z-index: -1;
        position: absolute;
        /*      left: 0;
          right: 0;
          height: 200px;
          bottom: 0;*/
        bottom: -135px;
        height: 527px;
        width: 100vw;
        overflow: hidden;
    }

    .wave {
        position: absolute;
        left: -180px;
        bottom: 0;
        /*width: 200px;*/
        /*height: 200px;*/
        /*width: 100%;*/
        /*border-radius: 50%;*/
        /*background:rgba(0,0,0, .3);*/
        width: 2402px;
        height: 427px;
        background: url(../media/waves/waves.webp) center bottom no-repeat;
        animation: 5s wave ease-in-out infinite alternate;
    }

    .wave.a {
        background-position: 0 -854px;
    }

    .wave.b {
        background-position: 0 -427px;
        animation-delay: 0.6s;
    }

    .wave.c {
        background-position: 0 0;
        animation-delay: 1.2s;
    }

    /*.container {
          position: absolute;
        }*/
    @keyframes wave {
        0% {
            transform: translate(0, 0);
        }

        50% {
            transform: translate(-80px, 30px);
        }

        100% {
            transform: translate(160px, -60px);
        }
    }

    /* COUNTERS */

    .counter_container {
        z-index: 10;
        text-align: center;
        display: flex !important;
        justify-content: space-between;
        align-items: center;
        margin-top: 5%;
        margin-bottom: 5%;
        position: relative;
        align-content: center;
        position: relative;
    }

    .laboral_counter {
        z-index: 10;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 50px;
        background: rgb(255, 255, 255);
        background: -moz-linear-gradient(120deg, rgba(255, 255, 255, 1) 0%, rgba(209, 209, 209, 1) 84%, rgb(210, 210, 210) 100%);
        background: -webkit-linear-gradient(120deg, rgba(255, 255, 255, 1) 0%, rgba(209, 209, 209, 1) 84%, rgb(210, 210, 210) 00%);
        background: linear-gradient(120deg, rgba(255, 255, 255, 1) 0%, rgba(209, 209, 209, 1) 84%, rgb(210, 210, 210) 100%);
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#d2d2d2", GradientType=1);
        color: #000;
        text-shadow: 0px 0px 0px #444444d7, 1px 1px 0px #444444d7, 2px 2px 0px #444444d7, 3px 3px 0px #444444d7, 4px 4px 0px #444444d7, 5px 5px 0px #444444d7, 6px 6px 1px #8f8f8fd7, 7px 7px 1px #8f8f8fd7, 8px 8px 1px #8f8f8fd7, 9px 9px 1px #8f8f8fd7, 10px 10px 1px #8f8f8fd7, 11px 11px 1px #8f8f8fd7, 12px 12px 1px #8f8f8fd7, 13px 13px 1px #8f8f8fd7, 14px 14px 1px #8f8f8fd7, 15px 15px 1px #8f8f8fd7, 16px 16px 1px #8f8f8fd7, 17px 17px 1px #8f8f8fd7, 18px 18px 1px #8f8f8fd7, 19px 19px 1px #8f8f8fd7, 20px 20px 1px #8f8f8fd7, 21px 21px 1px #8f8f8fd7, 22px 22px 1px #8f8f8fd7, 23px 23px 1px #8f8f8fd7, 24px 24px 1px #8f8f8fd7, 25px 25px 1px #8f8f8fd7, 26px 26px 1px #8f8f8fd7, 27px 27px 1px #8f8f8fd7, 28px 28px 1px #8f8f8fd7, 29px 29px 1px #8f8f8fd7, 30px 30px 1px #8f8f8fd7, 31px 31px 1px #8f8f8fd7, 32px 32px 1px #8f8f8fd7, 33px 33px 1px #8f8f8fd7, 34px 35px 1px #8f8f8fd7, 35px 35px 1px #8f8f8fd7, 36px 36px 1px #8f8f8fd7;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin-top: 68%;
    }

    .laboral_counter_text {
        z-index: 10;
        color: #FFFFFF;
    }

    .contact_form {
        margin-top: 10%;
    }

    .form_container {
        margin-top: 8%;
    }

    .img_container {
        filter: opacity(60%);
        filter: blur(2px);
        position: absolute;
        right: 0;
        margin-left: 0 auto;
        margin-right: 0 auto;
        transition: all 0.5s;
        width: 80%;
        border-radius: 15% 0% 15% 0%;
        height: auto;
    }

    .img_container:hover {
        filter: opacity(100%);
        filter: blur(0px);
        border-radius: 25% 0% 25% 0%;
        transition: all 0.5s;
    }
}

@media (max-width: 991px) {
    .col_izq {
        margin-top: 0;
    }

    .col_cen {
        margin-top: 15%;
    }

    .col_der {
        margin-top: 20%;
    }
}

@media (max-width: 545px) {

    #id_direccion {
        margin-top: 0%;
    }

    .icons-direccion {
        margin-left: 45%;
        margin-right: 45%;
        transition: all 1s !important;
        z-index: 5;
    }

    .upper_button {
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 5;
    }

    .parallax_container {
        position: relative;
        height: 100%;
        width: 100vw;
        /* 
            overflow: hidden; ayuda a que la imagen que se sale
            del contenedor, no se muestre 
        */
        overflow: hidden;
        z-index: 1;
        transition: all 1s;
    }

    .parallax_image {
        -webkit-animation: fadein 2.5s;
        /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 2.5s;
        /* Firefox < 16 */
        -ms-animation: fadein 2.5s;
        /* Internet Explorer */
        -o-animation: fadein 2.5s;
        /* Opera < 12.1 */
        animation: fadein 2.5s;
        position: absolute;
        background-image: url('../media/parallax/backspace2.jpg');
        background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        /*
            background-size: cover; nos sirve para que la imagen no se 
            distorcione por el tamaño del contenedor al estirar la imagen.
        */
        /* vh: view x height */
        width: 100vw;
        height: 120%;
        z-index: -5;
        filter: opacity(75%);
        transition: all 1s;
    }

    .container_img {
        position: absolute;
        left: 34.5vw;
        top: 5vh;
        width: 100%;
        transition: all 1s;
        z-index: 5;
        overflow-x: hidden !important;
        overflow-y: hidden !important;
    }

    .logo_cfp {
        width: 40%;
        height: auto;
        margin: 0 auto;
        z-index: 5;
        image-rendering: optimizeSpeed;
    }

    .parallax_title2 {
        z-index: 100;
        font-family: subtitle;
        background: #FFF;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 60pt;
        text-align: center;
        font-weight: lighter;
        margin-top: 30vh;
        transition: all 1s;
        overflow-x: hidden !important;
        overflow-y: hidden !important;
    }

    .container_subtitle {
        z-index: 5;
        text-align: center;
        font-family: subtitle;
        font-size: 18pt;
        font-weight: lighter;
    }

    .parallax_subtitle {
        z-index: 5;
        color: #0000;
        background: conic-gradient(at calc(100% - 1ch) 50%, #ffffff 90deg, #0000 0) 0 -100%, conic-gradient(at calc(100% - 1ch) 50%, #ffffff 90deg, #0000 0) 0 0, linear-gradient(-90deg, #0000 1ch, #ffffff 0) 0 0;
        background-size: calc(var(--n) * 1ch) 200%;
        -webkit-background-clip: padding-box, text, text;
        background-clip: padding-box, text, text;
        background-repeat: no-repeat;
        /* tiempo de duracion de la animacion del css */
        animation: b 0.1s infinite linear, t calc(var(--n) * 0.1s) steps(var(--n)) forwards;
        z-index: 100;
    }

    @keyframes t {
        from {
            background-size: 0 200%;
        }
    }

    @keyframes b {
        0% {
            background-position: 0 100%, 0 100%, 0 0;
        }
    }

    /* PARALLAX BUTTONS */
    .parallax_button_right {
        z-index: 5;
        background: rgb(26, 93, 105);
        background: -moz-linear-gradient(45deg, rgba(26, 93, 105, 1) 0%, rgba(59, 132, 189, 1) 33%, rgba(34, 191, 199, 1) 66%, rgba(144, 216, 255, 1) 100%);
        background: -webkit-linear-gradient(45deg, rgba(26, 93, 105, 1) 0%, rgba(59, 132, 189, 1) 33%, rgba(34, 191, 199, 1) 66%, rgba(144, 216, 255, 1) 100%);
        background: linear-gradient(45deg, rgba(26, 93, 105, 1) 0%, rgba(59, 132, 189, 1) 33%, rgba(34, 191, 199, 1) 66%, rgba(144, 216, 255, 1) 100%);
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#1a5d69", endColorstr="#90d8ff", GradientType=1);
        border: none;
        border-radius: 25px 25px 25px 25px;
        color: #e4e4e4;
        padding: 1% 4% 1% 4%;
        margin: 2% 2% 0% 2%;
        transition: all 0.5s;
        box-shadow: 0 0px 6px 6px #0000007d;
    }

    .parallax_button_left {
        z-index: 5;
        background: rgb(211, 39, 0);
        background: -moz-linear-gradient(45deg, rgba(211, 39, 0, 1) 0%, rgba(255, 133, 0, 1) 39%, rgba(255, 167, 0, 1) 62%, rgba(255, 219, 69, 1) 100%);
        background: -webkit-linear-gradient(45deg, rgba(211, 39, 0, 1) 0%, rgba(255, 133, 0, 1) 39%, rgba(255, 167, 0, 1) 62%, rgba(255, 219, 69, 1) 100%);
        background: linear-gradient(45deg, rgba(211, 39, 0, 1) 0%, rgba(255, 133, 0, 1) 39%, rgba(255, 167, 0, 1) 62%, rgba(255, 219, 69, 1) 100%);
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#d32700", endColorstr="#ffdb45", GradientType=1);
        border: none;
        border-radius: 25px 25px 25px 25px;
        color: #e4e4e4;
        padding: 1% 4% 1% 4%;
        margin: 2% 2% 0% 2%;
        transition: all 0.5s;
        box-shadow: 0 0px 6px 6px #0000007d;
    }

    .parallax_button_left:hover,
    .parallax_button_right:hover {
        z-index: 5;
        border: none;
        border-radius: 25px 25px 25px 25px;
        color: #ffffff;
        padding: 1% 4% 1% 4%;
        transition: all 0.5s;
        box-shadow: 0 0px 9px 6px #000000cb;
    }

    /* PRETTY SCROLL */
    .scroll_indication {
        z-index: 5;
        position: relative;
        bottom: -30vh;
        text-align: center;
    }

    .scroll-link {
        z-index: 5;
        position: absolute;
        bottom: 1rem;
        left: 50%;
        transform: translateX(-50%);
    }

    .mouse {
        z-index: 5;
        max-width: 2.5rem;
        width: 100%;
        height: auto;
        text-align: center;
    }

    .scroll {
        z-index: 5;
        animation-name: scroll_ind;
        animation-duration: 1.5s;
        animation-timing-function: cubic-bezier(0.650, -0.550, 0.250, 1.500);
        animation-iteration-count: infinite;
        transform-origin: 50% 20.5px;
        will-change: transform;
    }

    @keyframes scroll_ind {

        0%,
        20% {
            transform: translateY(0) scaleY(1);
        }
    }

    @keyframes scroll_ind {
        10% {
            opacity: 1;
        }

        100% {
            transform: translateY(36px) scaleY(2);
            opacity: 0.01;
        }
    }

    /* SECCION PRINCIPAL CONTENTS */
    .principal_container {
        height: 100vh;
        position: static;
        display: contents;
    }

    .principal_content {
        z-index: 25;
        height: 90%;
        margin: 0 auto;
        margin-top: 6vh;
        margin-bottom: 5%;
        background-color: #000;
    }

    .principal_titles {
        text-align: center;
        font-family: subtitle;
        font-size: 15pt;
    }

    .principal_titles:hover {
        text-align: center;
        border-left: 5px solid #FFF;
    }

    .principal_text {
        text-align: center;
        color: #bababa;
        font-size: 12pt;
        height: 50%;
    }

    .but_centered {
        text-align: center;
    }

    /* ANIMACIONES DE FADE */
    .fadeTop {
        opacity: 0;
        transform: translate(0, 10vh);
        transition: all 1s;
    }

    .fadeRight {
        opacity: 0;
        transform: translate(10vh, 0vh);
        transition: all 1s;
    }

    .fadeLeft {
        opacity: 0;
        transform: translate(-10vh, 0vh);
        transition: all 1s;
    }

    .visible {
        opacity: 1;
        transform: translate(0, 0);
    }

    /* COURSES BUTTONS STYLE */
    .courses_buttons {
        background-color: #80127300;
        border-radius: 25px 25px 25px 25px;
        color: #FF4900;
        border: solid 2px #FF4900;
        padding: 2% 15% 2% 15%;
        transition: all 0.5s;
    }

    .courses_buttons:hover {
        background-color: #ffffff00;
        border-radius: 25px 25px 25px 25px;
        color: #ffffff;
        border: solid 2px #ffffff;
        padding: 2% 15% 2% 15%;
        box-shadow: 0 0px 6px 3px #dadada7d;
        text-shadow: #dadada7d 0 0 10px;
        transition: all 0.5s;
    }

    /* SECCION SECONDARY CONTENTS */
    .secondary_container {
        position: relative;
        backdrop-filter: blur(25px);
        width: 100%;
        /* 
            overflow: hidden; ayuda a que la imagen que se sale
            del contenedor, no se muestre 
        */
        overflow: hidden;
        display: flex;
        z-index: 10;
        transition: all 1s;
        border-radius: 5% 5% 120px 120px;
    }

    .secondary_image {
        -webkit-animation: fadein 2.5s;
        /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 2.5s;
        /* Firefox < 16 */
        -ms-animation: fadein 2.5s;
        /* Internet Explorer */
        -o-animation: fadein 2.5s;
        /* Opera < 12.1 */
        animation: fadein 2.5s;
        position: absolute;
        background-image: url('../media/parallax/backspace1.jpg');
        background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        /*
            background-size: cover; nos sirve para que la imagen no se 
            distorcione por el tamaño del contenedor al estirar la imagen.
        */
        /* vh: view x height */
        width: 100vw;
        height: 150vh;
        filter: blur(15px);
        object-fit: contain;
        z-index: -10;
        transition: all 1s;
    }

    .secondary_content {
        text-align: center;
        display: flex;
        margin: 0 auto;
        margin-top: 6vh;
        margin-bottom: 5%;
        align-items: center;
        justify-content: center;
    }

    .secondary_title {
        color: #801273;
        text-align: center;
        margin-top: 4%;
        font-family: subtitle;
        text-shadow: #343434b4 4px 4px 10px;
    }

    .secondary_subtitle {
        color: #4a4a4a;
        text-align: center;
        margin-top: 6%;
        font-family: subtitle;
        text-shadow: #343434b4 4px 4px 10px;
    }

    .secondary_text {
        height: 50%;
        margin-top: 5%;
        text-align: justify;
        color: #343434;
        font-size: 12pt;
    }

    .text_secnt {
        transition: all 0.5s;
    }

    .text_secnt:hover {
        box-shadow: 6px 10px 8px 13px #4d4d4d7d;
        border-radius: 25px 25px 25px 25px;
        transition: all 0.5s;
    }

    /* WAVES CSS */

    .content {
        font-family: Arial;
        text-align: center;
        font-size: 2em;
        color: rgba(255, 255, 255, 0.8);
    }

    .waves {
        z-index: -1;
        position: absolute;
        /*      left: 0;
          right: 0;
          height: 200px;
          bottom: 0;*/
        bottom: -135px;
        height: 527px;
        width: 100%;
        overflow: hidden;
    }

    .wave {
        position: absolute;
        left: -180px;
        bottom: 0;
        /*width: 200px;*/
        /*height: 200px;*/
        /*width: 100%;*/
        /*border-radius: 50%;*/
        /*background:rgba(0,0,0, .3);*/
        width: 2402px;
        height: 427px;
        background: url(../media/waves/waves.webp) center bottom no-repeat;
        animation: 5s wave ease-in-out infinite alternate;
    }

    .wave.a {
        background-position: 0 -854px;
    }

    .wave.b {
        background-position: 0 -427px;
        animation-delay: 0.6s;
    }

    .wave.c {
        background-position: 0 0;
        animation-delay: 1.2s;
    }

    /*.container {
          position: absolute;
        }*/
    @keyframes wave {
        0% {
            transform: translate(0, 0);
        }

        50% {
            transform: translate(-80px, 30px);
        }

        100% {
            transform: translate(160px, -60px);
        }
    }

    /* COUNTERS */

    .counter_container {
        z-index: 10;
        text-align: center;
        display: flex !important;
        justify-content: space-between;
        align-items: center;
        margin-top: 5%;
        margin-bottom: 5%;
        position: relative;
        align-content: center;
        position: relative;
    }

    .laboral_counter {
        z-index: 10;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 50px;
        background: rgb(255, 255, 255);
        background: -moz-linear-gradient(120deg, rgba(255, 255, 255, 1) 0%, rgba(209, 209, 209, 1) 84%, rgb(210, 210, 210) 100%);
        background: -webkit-linear-gradient(120deg, rgba(255, 255, 255, 1) 0%, rgba(209, 209, 209, 1) 84%, rgb(210, 210, 210) 00%);
        background: linear-gradient(120deg, rgba(255, 255, 255, 1) 0%, rgba(209, 209, 209, 1) 84%, rgb(210, 210, 210) 100%);
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#d2d2d2", GradientType=1);
        color: #000;
        text-shadow: 0px 0px 0px #444444d7, 1px 1px 0px #444444d7, 2px 2px 0px #444444d7, 3px 3px 0px #444444d7, 4px 4px 0px #444444d7, 5px 5px 0px #444444d7, 6px 6px 1px #8f8f8fd7, 7px 7px 1px #8f8f8fd7, 8px 8px 1px #8f8f8fd7, 9px 9px 1px #8f8f8fd7, 10px 10px 1px #8f8f8fd7, 11px 11px 1px #8f8f8fd7, 12px 12px 1px #8f8f8fd7, 13px 13px 1px #8f8f8fd7, 14px 14px 1px #8f8f8fd7, 15px 15px 1px #8f8f8fd7, 16px 16px 1px #8f8f8fd7, 17px 17px 1px #8f8f8fd7, 18px 18px 1px #8f8f8fd7, 19px 19px 1px #8f8f8fd7, 20px 20px 1px #8f8f8fd7, 21px 21px 1px #8f8f8fd7, 22px 22px 1px #8f8f8fd7, 23px 23px 1px #8f8f8fd7, 24px 24px 1px #8f8f8fd7, 25px 25px 1px #8f8f8fd7, 26px 26px 1px #8f8f8fd7, 27px 27px 1px #8f8f8fd7, 28px 28px 1px #8f8f8fd7, 29px 29px 1px #8f8f8fd7, 30px 30px 1px #8f8f8fd7, 31px 31px 1px #8f8f8fd7, 32px 32px 1px #8f8f8fd7, 33px 33px 1px #8f8f8fd7, 34px 35px 1px #8f8f8fd7, 35px 35px 1px #8f8f8fd7, 36px 36px 1px #8f8f8fd7;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin-top: 68%;
    }

    .laboral_counter_text {
        z-index: 10;
        color: #FFFFFF;
    }

    .contact_form {
        margin-top: 10%;
    }

    .form_container {
        margin-top: 8%;
    }

    .img_container {
        display: none;
    }
}